<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
<div style="font-family: 'Apple SD Gothic Neo', 'sans-serif' !important; width: 540px; height: 600px; border-top: 4px solid #17B8DC; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">
    <h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
        Reset Password
    </h1>
    <p style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
        Halo,<br />
        Berikut adalah password sementara Anda:
        <strong style="color: #17B8DC;" th:text="${temporary_password}">password</strong><br />
        Silakan gunakan password ini untuk login, dan pastikan menggantinya segera setelah masuk ke akun Anda.
    </p>
    <br>
    <p style="font-size: 16px; line-height: 26px; padding: 0 5px;">
        Salam hangat,<br />
        Tim Wiyata
    </p>
</div>
</body>
</html>
